.bundle/
.overmind.sock
Gemfile.lock
pkg/
test/dummy/db/schema.rb
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
tmp
!tmp/.keep

frontend/node_modules
frontend/coverage
frontend/build
!frontend/build/.keep
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
