@import "../colors";
.wrap {
    position: relative;
    margin-bottom: 1em;
}
.label {
    font-size: 0.8em;
    color: $gray55;
    user-select: none;
    display: block;
}
.input-and-error-wrap {
    display: flex;
    align-items: baseline;
}
.error {
    flex-grow: 0;
    display: block;
    color: $errorTextColor;
    margin-left: 1rem;
    white-space: nowrap;
}
.hint {
    font-size: 0.8em;
    display: block;
}