.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  background: #ffe5e5;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: #b94343;
  text-align: center;
}
.error-large {
}
.error-small {
  font-size: 0.85em;
}