.error-wrap {
    display: flex;
    padding: 0.5rem 0;
}
.error-message {
    background: #ffe5e5;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: #b94343;
}
.error-small {
    font-size: 0.85em;
}