@import "../colors";
@import "../fonts";
.wrap {
  white-space: nowrap;
}
.wrap:empty:after {
  content: "-";
}
.section {
  max-width: 100%;
  margin-right: 0.25em;
  &:last-child{
    margin-right: 0;
  }
}