@import "colors";
@import "fonts";

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  background: $backgroundColor;
}

body {
  background: $backgroundColor;
  color: $primaryTextColor;

  font-family: $primaryFontFamily;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  & th, & td {
    text-align: left;
  }
}

a {
  color: $linkTextColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button, input[type="submit"], input[type="button"], a.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  user-select: none;
  white-space: nowrap;
}

button, input[type="submit"], input[type="button"] {
  @include button-colors($gray70, $gray15);
}

a.button {
  @include button-colors($gray70, transparent);
  text-decoration: none;
}

button.primary, input[type="submit"].primary, input[type="button"].primary, a.button.primary {
  @include button-colors($gray70, $gray35);
}

input[type="text"] {
  border: none;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1rem;
  line-height: normal;
  @include field-colors($gray70, $gray10);
  box-sizing: content-box;
  width: auto;
  min-width: 12ch;
  max-width: calc(100% - 2em);
  will-change: width;
}

.button-wrap {
  display: flex;
  align-items: center;
}
.svg-wrap {
  display: block;
}

code {
  background: $gray05;
  border-radius: 2px;
  padding: 0 0.2rem;
}

.sysname {
  display: inline-block;
  background: $gray05;
  border-radius: 3px;
  padding: 0 0.5em;
  font-family: $monospaceFontFamily;
  font-size: 0.75em;
  max-width: 100%;
}

#root {
  z-index: 1;
  position: relative;
}